<%= form_for @event do |f| %>
  <div class="form-group">
    <label>Event Name</label>
    <%= f.text_field :name, id: "name", prompt: "Type a name for your event", class: "form-input" %>

    <label>Event Description</label>
    <%= f.text_field :description, prompt: "What is it about? Describe in few words", class: "form-input" %>
  </div>

  <div class="form-group">
    <label>Number of People</label>
    <%= f.select :capacity, [["10", 1], ["< 10", 2], ["< 50", 3], ["< 100", 4], ["< 500", 5], ["1000+", 6]], prompt: "Select number of people that can attend the event", class: "form-control" %>
  </div>


  <div class="form-group">
    <label>Price</label>
    <%= f.text_field :price, prompt: "How much it costs?", class: "form-control" %>
  </div>

  <label>Amenities</label>

  <div class="form-group">
    <%= f.check_box :includes_food %> Food
  </div>
  <div class="form-group">
    <%= f.check_box :includes_drinks %> Drinks
  </div>


  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
