
<!-- bookings -->
<% if current_user != @event.user %>
  <div class="panel panel-primary">
    <div class="panel-heading">Book this event</div>

    <div class="panel-body">
      <%= render 'bookings/form' %>
    </div>
  </div>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>
  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Event: <%= @event.name %></p>
    <p><%= @event.capacity %> <%= @event.capacity > 1 ? "Guests" : "Max Guest" %></p>
    <p><%= @event.price %> <%= @event.price > 1 ? "Price" : "Price" %></p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Amenities -->
    <h4>Amenities</h4>
    <ul class="amenities">
      <li><%= !@event.includes_food ? ("<s>Food</s>").html_safe : "Food" %></li>
      <li><%= !@event.includes_drinks ? ("<del>Food</del>").html_safe : "Drink" %></li>
    </ul>

    <!-- Themes -->
<h4>Themes</h4>
<% @themes.each do |theme| %>
  <span class="label label-success"><%= theme.name %></span>
<% end %>

<!-- Photos -->
<h4>Photos</h4>
<% @event.photos.each do |photo| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= image_tag photo.image.thumbnail %>
  </div>
</div>
<% end %>



</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
